html {
    background-color: rgb(246, 84, 174);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    background-size: 3px;
    font-family: Arial, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.wrapper {
    margin: 50px auto 0 10px;
}

button {
    background: #1b1b1b;
    color: #fff;
    padding: 10px 40px;
    border: 0;
    font-size: 16px;
}

h2 {
    text-align: left;
    color: #fff;
    margin: 0;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.2) 3px -3px 0px;
}

