.lesson__item-list_red {
    color: crimson;
}

.lesson__list_red {
    color: crimson;
}

.lesson__list_blue {
    color: blue;
}

.yellow {
    color: yellow;
}

.lesson__block {
    margin: 0 auto;
    width: 500px;
    height: 300px;
    padding: 15px;
    border: 20px solid #7a956b;
    background-color: #794f45;
    overflow: auto;
    font-size: 20px;
    line-height: 150%;
}

.lesson__block p:not(:last-child) {
    margin: 0px 0px 20px 0px;
}

.lesson__selected {
    background-color: #794f45;
    padding: 15px;
    color: #fff;
}

.test__color {
    color: red;
}